@use "/src/scss/var" as *;

.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: $dark;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
}
.icon-style:hover {
  background: #fff;
  color: $dark;
  border: 2px solid $dark;
}
