@use "/src/scss/var" as *;
@use "/src/scss/mixin" as *;
.contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    text-align: center;
    color: $gray-white;
    font-size: clamp(30px, 4vw, 42px);
  }

  &__links {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    @include text-gradient();
  }
}

@media only screen and (max-width: 590px) {
  .contact {
    &__links {
      flex-direction: column;
    }
    &__link {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }
}
