@use "/src/scss/var" as *;
@use "/src/scss/mixin" as *;
.contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    text-align: center;
    color: $gray-white;
    font-size: 42px;
  }

  &__link {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    @include text-gradient();
  }

  &__links {
    display: flex;
    justify-content: space-around;
  }
}
