@use "/src/scss/mixin" as *;
.project {
  max-width: 375px;
  overflow: hidden;
  &__img-container {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
  }
  &__img {
    display: block;
    width: 100%;
    height: 210px;
    object-fit: cover;
    transition: 0.8s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__info {
    background: #363636;
    padding-bottom: 15px;
    padding-inline: 30px;
    overflow: hidden;
    border-radius: 0 0 16px 16px;
  }
  &__title {
    margin: 0;
    padding-top: 26px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
  }
  &__see-more {
    color: white;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  &__technologies {
    font-size: 14px;
    font-weight: 200;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  &__link {
    text-decoration: underline;
    color: white;

    &:hover {
      @include text-gradient;
    }

    &:first-child:before {
      content: url("/btn-live.svg");
      display: inline-block;
      transform: translate(-10px, 5px);
    }
    &:last-child:before {
      content: url("/btn-git.svg");
      display: inline-block;
      transform: translate(-10px, 5px);
    }
  }
}
