.footer {
  &__top {
    padding-bottom: 30px;
    border-bottom: 2px solid #26272f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  &__bottom {
    margin: 25px 0 25px 0;
  }
  &__logo {
    font-size: 20px;
    font-weight: 700;
    flex: 1;
  }
  &__email {
  }
}
