@import "../../scss/index.scss";

.socials {
  .socials__link {
    transition: 0.6s ease;
    &:hover {
      svg {
        path {
          transition: 0.6s ease;
          fill: $gray-white;
          transform: scale(1.1);
        }
      }
    }
  }
}
